{% extends 'base.html.twig' %}
{% block title %}Edit Auction{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="index.css">{% endblock %}
{% block body %}
	<h1>Edit Auction</h1>
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button>{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}