{% extends 'base.html.twig' %}
{% block title %}Auction list{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="index.css">{% endblock %}
{% block body %}
	<h1>Auction list</h1>
	
	<table class="table" id="datatable">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Body</th>
				<th>Category</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
		{% for auction in auctions %}
			<tr>
				<td>{{ auction.id }}</td>
				<td>{{ auction.title }}</td>
				<td>{{ auction.author }}</td>
				<td>{{ auction.body }}</td>
				<td>{% if auction.category != null %}{{ auction.category.name }}{% else %}-{% endif %}</td>
				<td><form>
					<button formaction="{{ path('auction_remove',{'id':auction.id}) }}">remove</buttton>
					<button formaction="{{ path('auction_edit', {'id':auction.id}) }}">edit</button>
				</form></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
		
		<form action="{{ path('auction_add') }}" method="POST">
		<tr id="addNew">
			<td></td>
			<td><input type="text" name="title" id="title" size="20" style="background-color:lightgrey;"/></td>
			<td><input type="text" name="author" id="author" size="30" style="background-color:lightgrey;"/></td>
			<td><input type="text" name="body" id="body" size="80" style="background-color:lightgrey;"/></td>
			<td><select name="category">
					<option value="-1">-</option>
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
				</select>
			</td>
			<td><div style="text-align:center"><button>add</button></div></td>
		</tr>
		</form>
		</tbody>
	</table>
{% endblock %}