h1 {
    color: green;
    text-align: left;
}
table {
    border: 1px solid green;
}
th {
    color: white;
    background-color: #99cc00;
    text-align: center;
}
td {
    color: green;
    border: 1px solid green;
}