<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
        {% block stylesheets %}{% endblock %}
    </head> 
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
